In [159]:
import pandas as pd
import numpy as np

In [160]:
groups=["ALCOHOL","BREAD","CHEMISTRY","CHEWING_GUM_LOLIPOPS","CHIPS_FLAKES","CIGARETTES","COFFEE TEA",
        "COOKIES_BULK","DAIRY_CHESSE","DRINK_JUICE","GENERAL","GENERAL_FOOD","GENERAL_ITEMS","GROATS_RICE_PASTA",
        "ICE_CREAMS_FROZEN","KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH","OCCASIONAL","POULTRY","SPICES",
        "SWEETS","TABLETS","VEGETABLES"]

In [161]:
def create_item_files(group_name):
    dataset="GROUP_OF_DATASETS/"+group_name+".csv"
    df=pd.read_csv(dataset)
    new_df=new_df=pd.DataFrame(df["name"].unique())
    new_df=new_df.rename(columns={0:"name"})
    new_df.to_csv("GROUP_OF_ITEMS/"+group+".csv",index=False)

In [162]:
for group in groups:
    create_item_files(group)

In [194]:
df=pd.read_csv("GROUP_OF_DATASETS/SWEETS.csv")

In [203]:
df

,Unnamed: 0,Unnamed: 0.1,date,ishol/week,group,name,quantity,unit_cogs,monthly_Avgtemp,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity
0,1495,1495,2018-01-01,9,SWEETS,AMELIA PIANKA 380 G SMIET.CZEK,2.0,4.180000,-0.42,-4.84,1,2,82.81
1,1496,1496,2018-01-01,9,SWEETS,ANDRUTY FURMANIAK,97.0,0.699381,-0.42,-4.84,1,2,82.81
2,1497,1497,2018-01-01,9,SWEETS,ANIMALS MODEL,1.0,5.680000,-0.42,-4.84,1,2,82.81
3,1498,1498,2018-01-01,9,SWEETS,BATON 7DAYS KAKAO W POLEWIE,3.0,0.550000,-0.42,-4.84,1,2,82.81
4,1499,1499,2018-01-01,9,SWEETS,BATON BOUNTY 57G,12.0,1.490000,-0.42,-4.84,1,2,82.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2293,22994,22994,2018-01-12,12,SWEETS,ZELKI NIM 2 MLEKODUSZKI,1.0,1.870000,0.37,-3.61,1,3,88.58
2294,22995,22995,2018-01-12,12,SWEETS,ZELKI NIM 2 SHOKI,3.0,2.100000,0.37,-3.61,1,3,88.58
2295,22996,22996,2018-01-12,12,SWEETS,ZELKI NIM 2SOKKI 90 G,4.0,1.860000,0.37,-3.61,1,3,88.58
2296,22997,22997,2018-01-12,12,SWEETS,ZELKI NIMM 2 JOGURTOWE 100 G,2.0,1.860000,0.37,-3.61,1,3,88.58
2297,22998,22998,2018-01-12,12,SWEETS,ZURAWINA W CZEKOLADZIE 70 G EURO,2.0,1.830000,0.37,-3.61,1,3,88.58

In [182]:
df.shape

(2298, 13)

In [188]:
np.shape(df["name"].unique())

(574,)

In [183]:
test["name"]=df["name"]

In [202]:
test2["name"]=df["name"]

In [201]:
pd.DataFrame(test2)

                                                        name
0                             AMELIA PIANKA 380 G SMIET.CZEK
1                                        ANDRUTY   FURMANIAK
2                                              ANIMALS MODEL
3                                BATON 7DAYS KAKAO W POLEWIE
4                                           BATON BOUNTY 57G
...                                                      ...
2294                                       ZELKI NIM 2 SHOKI
2295                                  ZELKI NIM 2SOKKI  90 G
2296                            ZELKI NIMM 2 JOGURTOWE 100 G
2297                        ZURAWINA W CZEKOLADZIE 70 G EURO
unit_cogs  0       4.180000
1       0.699381
2       5.68...

[2299 rows x 1 columns]

In [200]:
type(test2)

pandas.core.series.Series

In [184]:
test["unit_cogs"]=df["unit_cogs"]

In [191]:
test.head()

                             name  unit_cogs
0  AMELIA PIANKA 380 G SMIET.CZEK   4.180000
1             ANDRUTY   FURMANIAK   0.699381
2                   ANIMALS MODEL   5.680000
3     BATON 7DAYS KAKAO W POLEWIE   0.550000
4                BATON BOUNTY 57G   1.490000

In [193]:
test.tail()

                               name  unit_cogs
569  CUKIERKI WERTHERS ORGINAL 80 G      2.430
570       CUKIERKI ZOZOLE MUSS 75 G      1.270
571          CZEK AMELIA BIALA 100G      1.360
572        CZEK AMELIA MLECZNA 100G      1.390
573   CZEKOLADA OKIENKO ORZECH_100G      3.638

In [179]:
test["name"].unique()

array(['AMELIA PIANKA 380 G SMIET.CZEK', 'ANDRUTY   FURMANIAK',
       'ANIMALS MODEL', 'BATON 7DAYS KAKAO W POLEWIE', 'BATON BOUNTY 57G',
       'BATON IKAR XXL WAWEL', 'BATON KINDER BUENO 43G',
       'BATON KNOPERS 25G', 'BATON LION 40 G PEANUT',
       'BATON MACIEK XXL WAWEL  ADWOKAT', 'BATON MARS 51 G',
       'BATON MILKI WAY PODWÃ“JNY', 'BATON MILKY WAY 21 5',
       'BATON NESQUIK DELIC 25 G', 'BATON PIEROT WEDEL 45GR',
       'BATON SNICKERS 50 G', 'BATON TWIX 56 G', 'BATONIK MUU 29 G',
       'BATONIK POWER 30 G', 'BISZKOPTY WROCLAWSKIE 120G',
       'BOMB MERCI 250G', 'BOMB MERCI GREEN 250 G',
       'BOMB MON CHERI 157_5 G', 'BOMB TOFFIFEE 250 G',
       'BOMB.FIORELLA 140G', 'BOMBONIERA GALARE.W CZEKOL WISNIA 190 G',
       'BOMBONIERA GALARETKA W CZEK 190 G',
       'BOMBONIERA IMPRESJA 207 G BARON',
       'BOMBONIERA POMORZANKA 175 G CHOCO',
       'BORSETO 7 DAYS Z OWOC.LESNYCH 80 G', 'BUBLE GUM ROLL',
       'CHRUPKI KUKUR. CELKA 70GR OPAK 25 SZT',
       'CHRUPKI KUKURYDZIANE OWOCOWE 80 G', 'CHRUPKI STAR ORZECH  58 G',
       'CHRUSCIKI/CIASTA ROZNE KG', 'CIASTKA BEZY LUZ',
       'CIASTKA DESIMO MORELA 135 G', 'CIASTKA DESSIMO WISNIOWE 135 G',
       'CIASTKA KRAKUSKI FLORIANKI 171G',
       'CIASTKA KRAKUSKI SERDUSZKA 171 G',
       'CIASTKA KRAKUSKI ZBOZOWE 201 G', 'CIASTKA PALUSZKI 144 G POMAR.',
       'CIASTKA SONATA 125 G CZEL.MLECZNA',
       'CIASTKA SONATA 125 G DESEROWA', 'CIASTKA TAGUS 29 G TRUSKAWKA',
       'CUKIERKI JOJO PIANKA 90G NESTLE',
       'CUKIERKI JOJO PIANKA ZAKRECONE 90GR NEST', 'CUKIERKI PUDROWE LUZ',
       'CZEK AMELIA MLECZNA 100G', 'CZEKOLADA  ALPEN GOLD ORZ+RODZ 90 G',
       'DELICJE POMARANCZOWE 147G', 'DELICJE WISNIOWE 294G WEDEL',
       'DRAZE SKAWA  CZEKOL.70G', 'DRAZE SMIETANKOWE 70G SKAWA',
       'DROPS EUKALIPTUS', 'DROPS HALLS MIOD CYTRYNA 33_5G',
       'DROPS HALLS ORGINAL 33_5G *20', 'EUROPAPIER DUZY',
       'GOFRY KOKOS 100', 'GOFRY SEZAM 100 G', 'GOFRY SLODKIE 100 G',
       'GOPL CZEKOLADA GORZKA 90 G', 'GOPL CZEKOLADA MLECZNA 90G',
       'GOPL PRALINY JEY ME 27 G', 'GOPL.CUKIERKI MIETA 90G',
       'GOPL.LANDRYNY BRANDO 90G', 'GOPLANA EXTRA MIETA EXTRA MOCNE',
       'GRZESKI B/CZEKOL DZIEL', 'GRZESKI GOFROWE 33G',
       'GRZESKI W CZEKOLADZIE 36 G', 'GUMA MOIST', 'GUMA PUSH',
       'GUMA ROSPUSZCZALNA SZCZELAJACA WAIRDS',
       'GUMA ROZPUSZCZALNA KREDKA', 'HALLOW FIZZ', 'HALLS DROPS FRUIT',
       'HERBATNIK PETIT BEURRE50 G JUTRZENKA',
       'HERBATNIKI MALTANKI 80G LAJK', 'JACOBS VELVET  100G ROSP.SLOIK',
       'JAJKO Z NIESPODZ FCB', 'JAJKO Z NIESPODZIANKA',
       'KAMIS SUSZONE POMIDORY 15 G', 'KAMYKI ODRA 100 G',
       'KINDER CHOCOLATE 100G', 'KINDER CHOCOLATE 50G',
       'KRAZKI ORKISZOWE 60 G', 'KWAS CHLEBOWY 1 L', 'LIZAK DYNIA',
       'LIZAK ROZA/SERCE', 'LIZAK ZELOWY HORROR', 'LODY CIEPLE DUZE 24',
       'MIESZANKA STUDENCKA 100 G', 'MILKA 300 G OREO',
       'MILKA CZEK.NADZ 37 G', 'MILKA CZEK.ORZECHOWA 100G',
       'MILKA CZEK.TRUSKAW 100G', 'MILKA CZEKOLADA LACIATA 100G',
       'MILKA CZEKOLADA MLECZNA 100G',
       'MLECZKO ALPEJSKIE   CZEKOLAD.330 G MILKA',
       'NAP AQA PLUS 1_5 L GAZ JAB+PIGWA', 'ORANZADA W PROSZKU ROZEK',
       'ORANZADA W PROSZKU SUPER', 'PALUSZKI BESK. 70G',
       'PALUSZKI JUNIOR 250 G', 'PAP LM LINK BLU',
       'PETITKI LUBISIE Z CZEK 30 G', 'PETITKI LUBISIE Z MORELA 30 G',
       'PETITKI TRUSKAWKA  30 G', 'PIANKA DESEROWA SPRAY 250 G',
       'PIERNIK DESIMO NADZ.200G', 'PIERNIK KROLEWSKI KRAKUS 150 G',
       'PIERNIK W CZEKOLADZIE SKAWA', 'PRECLE 130 G',
       'PRECLE SOLONE KLASYCZNE 125 G', 'PREZERWATYWA',
       'PREZERWATYWA 3 SZT', 'PREZERWATYWY', 'PRINCE POLO ORZECH 35 G',
       'PRINCE POLO XXL MLECZNE', 'PRINCE POLO XXL ORZECHOWE 50G',
       'PRINCESA ZEBRA37 G', 'PRINCESSA 34G MLECZNA',
       'PRINCESSA CHERRY 33 G', 'PRINCESSA ORZECH MAXI', 'RAFFAELLO 150G',
       'ROGAL 7 DAYS BORSETO JAB+CYN', 'ROGAL 7 DAYS ORZECH KAKAO',
       'ROGAL CHIPICAO 65G', 'SCHWEPPES TONIC 1_5 L',
       'SEKACZ KAKAOWY WIS?A 24 G', 'SMIEJZELKI NOM 2 ZIMOMINKI 90 G',
       'SPRAY GRENADE', 'STAR MACZUGI 80 G', 'SUPER SPRAY', 'SUROWKA',
       'TALARKI 155 G LAJKONIK', 'TIC TAK MALINA', 'TIK TAK MIETA',
       'TIMI O SMAKU MIETY', 'WAFELEK PEPPA30G',
       'WAFLE GORALKI ARACHID 42 G', 'WAFLE GORALKI CZEKOLADA 42 G',
       'WAFLE GORALKI O SMAKU WANILIOWYM 42 G',
       'WAFLE KWADRAT DESER 120 G', 'WAFLE NESQUIK 26 G',
       'WAFLE RYZOWE 100 G FIT', 'WAFLE SUCHE', 'WAFLE SUCHE 165 G',
       'WAFLE SUCHE OWAL 130 G', 'WAFLE TRIPLEX 20 G',
       'WAWEL CZEKOL  MALAGA 100G', 'WAWEL CZEKOLADA MICHALKI 100G',
       'WEDEL CZEK GORZKA 100G', 'WEDEL CZEK.MLECZNA 100 G',
       'WEDEL PAWELEK ADVOCAT 45G', 'WEDEL PAWELEK TOFFI 45G',
       'WEDEL PTASIE  MLECZKO KOKOS 380 G',
       'WEDEL PTASIE MLECZKO WANILIA 380 G', 'ZAPALNICZKA ZABAWKA',
       'ZARODKI PRZENNE 150 G', 'ZELKI JUMI 100 G', 'ZELKI KABLE DLUGIE',
       'ZELKI NIM 2SOKKI  90 G', 'ZELKI Z WITAM.NIM2 100G',
       'BABKA  KOWOLKA', 'BOMB MON CHERI 147 G SERCE',
       'BOMBONIERA   BARON 115 G', 'BOMBONIERA FLOWER 92 G',
       'BOMBONIERA SERCE RAFFAELLO 140 G', 'BOMBONIERKA TAGO EXCELENT',
       'CIASTKA HIT 220G CZEKOLADA', 'CIASTKA PALUSZKI 144G WISNIA',
       'CUKIERKI CHOCOMILA -ROSHEN', 'CZEKOLADA BARON 100 G WALWNTYNKOWA',
       'DR.O CIASTO BABECZKI', 'FERRERO ROCHER 100 G',
       'GOPL FIGURKA  _30 G', 'GRZESKI MEGA KAKAO',
       'HERBATNIKI BE BE 16G', 'KARTY', 'KRAKERSY SUPER 180G LAJKONIK',
       'KUBUS 0_9 L BANAN+TRUS', 'LIZAK BABA JAGA', 'LIZAK CHOINKA',
       'LIZAK LOVE', 'MLECZKO ALPEJSKIE  330 G WANILIA',
       'MLECZKO DOBOSZ 400G', 'PALUSZKI STAR 180 G',
       'PETITKI LUBISIE OWOCE LESNE', 'PILKA PUCHAR Z CUKIERKAMI',
       'PRINCE POLO XXL 52G CLASSIC', 'RURKI PAKOWANE W POL 120 G FLIS',
       'SEKRET NATURY ZESTAW 6 HERBAT OWOCOWYCH', 'SUROWKA KUBEK',
       'SYROP MALINA 440 ML SPIZARNIA',
       'WAFLE FAMIL.KAK/SMIETANKOWE 180G',
       'WAFLE FAMILIJNE 180G SMIETANKOWE', 'WAFLE KWADRATY 130 G',
       'WAFLE TORTOWE 160 G', 'WAWEL CZEKOLADA MIETOWA 100G',
       'WEDEL PAWELEK KAFFE LATTE45 G',
       'WEDEL PTASIE MLECZKO CYTRYNA 380GR',
       'WEDEL PTASIE MLECZKO SMIETANKOWE', 'ZELUSIE JUTRZENKA 90GR MISKI',
       'BABECZKI SWIATECZNE GRZES', 'BABKA  DO SW CIAZYNSKI',
       'BABKA WANIL+SMIET 270 G', 'BABKA WANILIOWO Z ORZECH 300 G',
       'BARANEK 65 G', 'BATON 3BIT ORZECHOWY  46/51 G',
       'BATON LION BLACK/WHITE 40 G', 'BOMB MERCI 400G',
       'BOMB MERCI NIEBIES 250G',
       'BOMBONIERKA GALARETKA PORZ.190 G JUTRZE',
       'CHRUPKI Z OWOCAMI MAX 80 G', 'CIACHO GORALKI 38 G MASLANY',
       'CIASTKA DESIMO POMARA.135  G', 'CIASTKA DESSIMO MALINA 135 G',
       'CIASTKA JEZYKI -DARK WISNIA', 'CIASTKA JEZYKI CAFE 140 G',
       'CIASTKA JEZYKI KOKOSOWE 140G JUTRZENKA',
       'CIASTKA JEZYKI Z ADVOCAT 140 G JUTRZENKA',
       'CIASTKA KRAKUSKI MASLANE 201 G', 'CUKIER PUDER 500 G',
       'CZEK ALPEN GOLD 90 G GORZKA', 'CZEKOLADA OKIENKO ORZECH_100G',
       'CZEKOLADA RITTER 100 G', 'DELICJE MALINOWE 147G',
       'DRAZE KOKOSOWE KORSARZ 70G SKAWA', 'GOPL FIGURKI SW',
       'GRZESKI GOFROWE CZEKOLADA', 'JAJKA CUKROWE Z NADZIENIEM .LUZ',
       'JAJKA WIELKANOCNE BARON LUZ', 'JAJKO WIELKANOCNE  23 G',
       'JAJKO WIELKANOCNE 100G', 'KINDER JAJKA 120 G',
       'LAJKONIK JUNIOR SAFARI 25 G', 'LALECZKA',
       'LIZAK KWIATEK/SWIATECZNE DUZY KOLOR',
       'MARCHEW Z GROSZKIEM 290 G FRUBEX', 'MILKA 100GR YOGHURT',
       'MILKA CZEKOL.100 G Z OREO', 'MILKA CZEKOLADA BAKALIE 100G',
       'NASZYJNIK Z CUKIERKAMI',
       'O WAFLE MEGA GRZESKI W CZEKOL.48 GROZNE',
       'ODRA DUETKA FAMIL PIANKA 400G POMAR',
       'PALUSZKI LAJKONIK Z SEZAMEM 150 G', 'PETITKI LUBISIE BANAN',
       'PRINCE POLO MINI CLASIC', 'PRINCESSA 36G ORZECH',
       'PRINCESSA MLECZNA MAXI', 'SERWETKI SW', 'SPRAY BULLET ROLL',
       'SPRAY GAZ', 'TIC TAC ORANGE 16G',
       'WAFELEK LUSETTE CZEKOLADA 50 G', 'WAFLE FAMILIJNE 180 G KAKAO',
       'WEDEL CZEK TRUSKAW 100G', 'WEDEL PTASIE KARMEL  380 G',
       'ZAJAC FERRERO 60 G', 'ZAJAC KINDER 55G', 'ZAJAC MALY',
       'ZAJAC MA?Y 30 G', 'ZAJAC MILKA 50 G', 'ZAJAC ROOL',
       'ZAJACZEK NADZ Z CZEKOLADY 1 SZT', 'ZAJACZEK Z CZEKOLADY',
       'ZELKI NIM 2 JOGURTOWE 100 G', 'ZELKI NIMM 2 JOGURTOWE 100 G',
       'ZELKI NIMM2 SMIEJZELKI 100 G', 'BARON BOMBONIERKA 250 G',
       'BATON KINDER BUENO WHITE', 'BATON LION BIALY 43G',
       'BATON MACIEK XXL TOFFI WAWEL', 'BATON SNIKERS 49 ORZECH',
       'BOMB TOFFI FEE 125G', 'BOMBONIERA BARON 195 G',
       'CIASTECZKA MINIS CHOCO 100G', 'CIASTECZKA ZOO Z KAKAO 100G',
       'CIASTKA BISZKOPCIKI 205 G', 'CIASTKA KRAKUSKI 181 G DUELKI',
       'CIASTKA LEIBNIZ  ZOO 100 G ORYGINAL',
       'CIASTKA PALUSZKI 144 G MALINA', 'CUKIERKI WERTHERS CRAM 90 G',
       'CUKIERKI WERTHERS ORGINAL 80 G', 'CUKIERKI ZOZOLE MUSS 75 G',
       'CZEK AMELIA BIALA 100G'], dtype=object)