In [40]:
import pandas as pd
import numpy as np

In [41]:
df_master=pd.read_csv("final2.csv")

In [42]:
df_master.head()

,date,isholnum,sku,group,name,quantity,unit_cogs,sunrise,sunset,HeatIndexC,cloudcover,humidity,tempC,Avgtemp,Unnamed: 14
0,2018-01-01,1,3646,ART._HYGIENIC,BELLA HERBS 12 Z WERBENA,1,2.39,08:52:00,16:31:00,6,79,89,8,5.5,NaN
1,2018-01-01,1,17048,ART._HYGIENIC,BELLA PODPASKI BLUE MAX,2,2.85,08:52:00,16:31:00,6,79,89,8,5.5,NaN
2,2018-01-01,1,41,ART._HYGIENIC,BELLA PODPASKI NORMAL 20 B/SKRZYD,2,1.76,08:52:00,16:31:00,6,79,89,8,5.5,NaN
3,2018-01-01,1,55,ART._HYGIENIC,BELLA PODPASKI NORMAL MAXI 10,4,2.14,08:52:00,16:31:00,6,79,89,8,5.5,NaN
4,2018-01-01,1,54,ART._HYGIENIC,BELLA PODPASKI NOVA MAXI 10,1,2.66,08:52:00,16:31:00,6,79,89,8,5.5,NaN

In [43]:
df=df_master.copy()

df

In [44]:
df["group"].unique()

array(['ART._HYGIENIC', 'ARTICLE_OF_HOUSEHOLD', 'BEER', 'BREAD',
       'CANNED_PATE', 'CHEMISTRY', 'CHEWING_GUM_LOLIPOPS', 'CHIPS_FLAKES',
       'CIGARETTES', 'COFFEE TEA', 'COOKIES_BULK', 'DAIRY_CHESSE',
       'DISHES_FOR_CHILDREN', 'DRINK_JUICE', 'EGGS', 'FISH', 'GENERAL',
       'GENERAL_FOOD', 'GROATS_RICE_PASTA', 'ICE_CREAMS_FROZEN',
       'KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH', 'LUNCH DINING DISHES',
       'MEAT', 'MILK', 'OCCASIONAL', 'OILS', 'PACKAGES', "PET'S FOOD",
       'PHONES_ADJUSTMENTS', 'SOCKS_THIGHTS', 'SPICES', 'SWEETS',
       'TABLETS', 'VEGETABLES', 'VODKA_ALCOHOL', 'WINE_ALCOHOL 18%'],
      dtype=object)

In [45]:
df["group"].value_counts()

SWEETS                                       2298
DAIRY_CHESSE                                 2297
CHEMISTRY                                    2152
DRINK_JUICE                                  2044
GENERAL_FOOD                                 1956
ICE_CREAMS_FROZEN                            1334
VEGETABLES                                    940
GENERAL                                       905
BEER                                          900
KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
CIGARETTES                                    850
SPICES                                        775
GROATS_RICE_PASTA                             635
VODKA_ALCOHOL                                 627
CHIPS_FLAKES                                  509
COFFEE TEA                                    482
BREAD                                         461
MEAT                                          427
FISH                                          373
CANNED_PATE                                   361
CHEWING_GUM_LOLIPOPS                          332
WINE_ALCOHOL 18%                              280
TABLETS                                       265
COOKIES_BULK                                  214
OCCASIONAL                                    204
OILS                                          170
SOCKS_THIGHTS                                 165
ART._HYGIENIC                                 101
PET'S FOOD                                     69
DISHES_FOR_CHILDREN                            37
LUNCH DINING DISHES                            36
PHONES_ADJUSTMENTS                             35
ARTICLE_OF_HOUSEHOLD                           24
EGGS                                           24
PACKAGES                                       20
MILK                                            1
Name: group, dtype: int64

In [46]:
len(df["group"].value_counts())

36

In [69]:
group_counts=[df["group"].value_counts()]

In [70]:
group_counts

[SWEETS                                       2298
 DAIRY_CHESSE                                 2297
 CHEMISTRY                                    2152
 DRINK_JUICE                                  2044
 GENERAL_FOOD                                 1956
 ALCOHOL                                      1807
 ICE_CREAMS_FROZEN                            1334
 POULTRY                                      1185
 VEGETABLES                                    940
 GENERAL                                       905
 KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
 CIGARETTES                                    850
 SPICES                                        775
 GROATS_RICE_PASTA                             635
 CHIPS_FLAKES                                  509
 COFFEE TEA                                    482
 BREAD                                         461
 CHEWING_GUM_LOLIPOPS                          332
 TABLETS                                       265
 COOKIES_BULK                                  214
 OCCASIONAL                                    204
 OILS                                          170
 SOCKS_THIGHTS                                 165
 ART._HYGIENIC                                 101
 PET'S FOOD                                     69
 DISHES_FOR_CHILDREN                            37
 LUNCH DINING DISHES                            36
 PHONES_ADJUSTMENTS                             35
 ARTICLE_OF_HOUSEHOLD                           24
 PACKAGES                                       20
 MILK                                            1
 Name: group, dtype: int64]

In [49]:
df.replace(['WINE_ALCOHOL 18%', 'BEER','VODKA','VODKA_ALCOHOL'], ['ALCOHOL','ALCOHOL','ALCOHOL','ALCOHOL'], inplace=True)

In [50]:
len(df["group"].value_counts())

34

In [51]:
df["group"].value_counts()

SWEETS                                       2298
DAIRY_CHESSE                                 2297
CHEMISTRY                                    2152
DRINK_JUICE                                  2044
GENERAL_FOOD                                 1956
ALCOHOL                                      1807
ICE_CREAMS_FROZEN                            1334
VEGETABLES                                    940
GENERAL                                       905
KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
CIGARETTES                                    850
SPICES                                        775
GROATS_RICE_PASTA                             635
CHIPS_FLAKES                                  509
COFFEE TEA                                    482
BREAD                                         461
MEAT                                          427
FISH                                          373
CANNED_PATE                                   361
CHEWING_GUM_LOLIPOPS                          332
TABLETS                                       265
COOKIES_BULK                                  214
OCCASIONAL                                    204
OILS                                          170
SOCKS_THIGHTS                                 165
ART._HYGIENIC                                 101
PET'S FOOD                                     69
DISHES_FOR_CHILDREN                            37
LUNCH DINING DISHES                            36
PHONES_ADJUSTMENTS                             35
ARTICLE_OF_HOUSEHOLD                           24
EGGS                                           24
PACKAGES                                       20
MILK                                            1
Name: group, dtype: int64

In [52]:
df.replace(['MEAT', 'FISH','CANNED_PATE','EGGS'], ['POULTRY','POULTRY','POULTRY','POULTRY'], inplace=True)

In [57]:
len(df["group"].value_counts())

31

In [54]:
df["group"].value_counts()

SWEETS                                       2298
DAIRY_CHESSE                                 2297
CHEMISTRY                                    2152
DRINK_JUICE                                  2044
GENERAL_FOOD                                 1956
ALCOHOL                                      1807
ICE_CREAMS_FROZEN                            1334
POULTRY                                      1185
VEGETABLES                                    940
GENERAL                                       905
KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
CIGARETTES                                    850
SPICES                                        775
GROATS_RICE_PASTA                             635
CHIPS_FLAKES                                  509
COFFEE TEA                                    482
BREAD                                         461
CHEWING_GUM_LOLIPOPS                          332
TABLETS                                       265
COOKIES_BULK                                  214
OCCASIONAL                                    204
OILS                                          170
SOCKS_THIGHTS                                 165
ART._HYGIENIC                                 101
PET'S FOOD                                     69
DISHES_FOR_CHILDREN                            37
LUNCH DINING DISHES                            36
PHONES_ADJUSTMENTS                             35
ARTICLE_OF_HOUSEHOLD                           24
PACKAGES                                       20
MILK                                            1
Name: group, dtype: int64

In [73]:
group_counts

[SWEETS                                       2298
 DAIRY_CHESSE                                 2297
 CHEMISTRY                                    2152
 DRINK_JUICE                                  2044
 GENERAL_FOOD                                 1956
 ALCOHOL                                      1807
 ICE_CREAMS_FROZEN                            1334
 POULTRY                                      1185
 VEGETABLES                                    940
 GENERAL                                       905
 KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
 CIGARETTES                                    850
 SPICES                                        775
 GROATS_RICE_PASTA                             635
 CHIPS_FLAKES                                  509
 COFFEE TEA                                    482
 BREAD                                         461
 CHEWING_GUM_LOLIPOPS                          332
 TABLETS                                       265
 COOKIES_BULK                                  214
 OCCASIONAL                                    204
 OILS                                          170
 SOCKS_THIGHTS                                 165
 ART._HYGIENIC                                 101
 PET'S FOOD                                     69
 DISHES_FOR_CHILDREN                            37
 LUNCH DINING DISHES                            36
 PHONES_ADJUSTMENTS                             35
 ARTICLE_OF_HOUSEHOLD                           24
 PACKAGES                                       20
 MILK                                            1
 Name: group, dtype: int64]

In [163]:
df.replace(["OILS","SOCKS_THIGHTS","ART._HYGIENIC","PET'S FOOD","DISHES_FOR_CHILDREN","LUNCH DINING DISHES","PHONES_ADJUSTMENTS","ARTICLE_OF_HOUSEHOLD","PACKAGES","MILK"],["GENERAL_ITEMS","GENERAL_ITEMS","GENERAL_ITEMS","GENERAL_ITEMS","GENERAL_ITEMS","GENERAL_ITEMS","GENERAL_ITEMS","GENERAL_ITEMS","GENERAL_ITEMS","GENERAL_ITEMS"],inplace=True)
(df["group"].value_counts())

SWEETS                                       2298
DAIRY_CHESSE                                 2297
CHEMISTRY                                    2152
DRINK_JUICE                                  2044
GENERAL_FOOD                                 1956
ALCOHOL                                      1807
ICE_CREAMS_FROZEN                            1334
POULTRY                                      1185
VEGETABLES                                    940
GENERAL                                       905
KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
CIGARETTES                                    850
SPICES                                        775
GENERAL_ITEMS                                 658
GROATS_RICE_PASTA                             635
CHIPS_FLAKES                                  509
COFFEE TEA                                    482
BREAD                                         461
CHEWING_GUM_LOLIPOPS                          332
TABLETS                                       265
COOKIES_BULK                                  214
OCCASIONAL                                    204
Name: group, dtype: int64

## Was trying to write a fucntion below to do it (grouping eveerything under 200 units to one) automatically, but then it didnt' work out so I did it manually above

In [112]:
# values = df['group'].value_counts().keys().tolist()
# counts = df['group'].value_counts().tolist()

In [154]:
# for i in values,counts:
# #      if i[0]<200:
#         print ((i[0]))

SWEETS
2298

In [ ]:
# #a function to replace all the groups which are less 200 in quantitiy to one group
# def replace_groups(group_c,data):
#     for group in group_c:
#         if

In [208]:
weather_df=pd.read_csv("Final_Weather_Data.csv")

In [211]:
df.head()

,date,isholnum,sku,group,name,quantity,unit_cogs,sunrise,sunset,HeatIndexC,cloudcover,humidity,tempC,Avgtemp,Unnamed: 14
0,2018-01-01,1,3646,GENERAL_ITEMS,BELLA HERBS 12 Z WERBENA,1,2.39,08:52:00,16:31:00,6,79,89,8,5.5,NaN
1,2018-01-01,1,17048,GENERAL_ITEMS,BELLA PODPASKI BLUE MAX,2,2.85,08:52:00,16:31:00,6,79,89,8,5.5,NaN
2,2018-01-01,1,41,GENERAL_ITEMS,BELLA PODPASKI NORMAL 20 B/SKRZYD,2,1.76,08:52:00,16:31:00,6,79,89,8,5.5,NaN
3,2018-01-01,1,55,GENERAL_ITEMS,BELLA PODPASKI NORMAL MAXI 10,4,2.14,08:52:00,16:31:00,6,79,89,8,5.5,NaN
4,2018-01-01,1,54,GENERAL_ITEMS,BELLA PODPASKI NOVA MAXI 10,1,2.66,08:52:00,16:31:00,6,79,89,8,5.5,NaN

In [183]:
#doing this because the original df contains the previous data we had which was absolutely wrong . So yeah.

df_to_merge=(df["date"],df["group"],df["name"],df["quantity"],df["unit_cogs"])

In [187]:
df_to_merge=pd.DataFrame(list(df_to_merge))

In [188]:
df_to_merge.head()

,0,1,2,3,4,5,6,7,8,9,...,23170,23171,23172,23173,23174,23175,23176,23177,23178,23179
date,2018-01-01,2018-01-01,2018-01-01,2018-01-01,2018-01-01,2018-01-01,2018-01-01,2018-01-01,2018-01-01,2018-01-01,...,2018-01-12,2018-01-12,2018-01-12,2018-01-12,2018-01-12,2018-01-12,2018-01-12,2018-01-12,2018-01-12,2018-01-12
group,GENERAL_ITEMS,GENERAL_ITEMS,GENERAL_ITEMS,GENERAL_ITEMS,GENERAL_ITEMS,GENERAL_ITEMS,GENERAL_ITEMS,GENERAL_ITEMS,GENERAL_ITEMS,GENERAL_ITEMS,...,ALCOHOL,ALCOHOL,ALCOHOL,ALCOHOL,ALCOHOL,ALCOHOL,ALCOHOL,ALCOHOL,ALCOHOL,ALCOHOL
name,BELLA HERBS 12 Z WERBENA,BELLA PODPASKI BLUE MAX,BELLA PODPASKI NORMAL 20 B/SKRZYD,BELLA PODPASKI NORMAL MAXI 10,BELLA PODPASKI NOVA MAXI 10,BELLA PODPASKI PERF.BLUE 10,EVA MYDLO W PLYNIE Z DOZ 500 MML,PLYN DO ZATLUSZCZONYCH POWIERZCHNI 750,PLYN KAMIEN I RDZA 750 ML,PODPASKI BELLA NOVA 10 SZT,...,WINO RAFFAELLO 0_2 SLODKIE,WINO ROYAL 0_75 B/WYTRAWNE,WINO SOLARRA CZ/PÓS? 0_75 L,WINO SOPHIA 0_75 L B/S?ODKIE,WINO SPECIAL CHERRY 1 L,WINO TOTINO CHERRY VERMOUTH 1L,WINO WALDWEIN JEZYNA 0_75 L SLODKIE,WINO WALDWEIN MALINA 0_75 L SLODKIE,WODKA DRINK SOBIESKI 025ML CRANBERRY4.4%,WODKA DRINK SOBIESKI KAMIKAZE.250 ML
quantity,1,2,2,4,1,1,1,2,1,1,...,1,1,1,1,1,1,2,1,1,2
unit_cogs,2.39,2.85,1.76,2.14,2.66,2.85,3.71,5.49,5.49,2.05,...,3.25,10.13,5.99,6.01,6.97,9.8,7.6,7.6,2.89,2.89

In [190]:
#transposing the dataset becasue you can see how it is above
df_to_merge=df_to_merge.transpose()

In [209]:
weather_df

,date,monthly_Avgtemp,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity,ishol/week
0,2018-01-01,-0.420,-4.84,1,2,82.81,9
1,2018-01-02,-3.290,-7.61,0,2,76.04,8
2,2018-01-03,0.165,-4.03,1,2,73.23,9
3,2018-01-04,12.080,10.37,1,1,72.47,10
4,2018-01-05,15.965,15.42,2,0,73.23,11
5,2018-01-06,17.065,17.10,2,1,72.30,9
6,2018-01-07,19.725,19.90,2,1,75.97,9
7,2018-01-08,19.920,20.06,2,0,69.97,9
8,2018-01-09,15.835,14.73,2,1,69.23,10
9,2018-01-10,10.710,8.19,1,1,71.65,8
10,2018-01-11,3.970,0.77,1,1,80.60,9
11,2018-01-12,0.370,-3.61,1,3,88.58,12

In [212]:
df_to_merge["date"].unique()

array(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
       '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12'],
      dtype=object)

In [216]:
# merging the dataset into one so that we can finally use it

df_merged= pd.merge(weather_df, df_to_merge,how="left",on="date")

In [214]:
df_merged.shape

(23180, 11)

In [217]:
df_merged.head()

,date,monthly_Avgtemp,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity,ishol/week,group,name,quantity,unit_cogs
0,2018-01-01,-0.42,-4.84,1,2,82.81,9,GENERAL_ITEMS,BELLA HERBS 12 Z WERBENA,1,2.39
1,2018-01-01,-0.42,-4.84,1,2,82.81,9,GENERAL_ITEMS,BELLA PODPASKI BLUE MAX,2,2.85
2,2018-01-01,-0.42,-4.84,1,2,82.81,9,GENERAL_ITEMS,BELLA PODPASKI NORMAL 20 B/SKRZYD,2,1.76
3,2018-01-01,-0.42,-4.84,1,2,82.81,9,GENERAL_ITEMS,BELLA PODPASKI NORMAL MAXI 10,4,2.14
4,2018-01-01,-0.42,-4.84,1,2,82.81,9,GENERAL_ITEMS,BELLA PODPASKI NOVA MAXI 10,1,2.66

In [219]:
df_merged=df_merged[["date","ishol/week","group","name","quantity","unit_cogs","monthly_Avgtemp","monthly_avg_FeelsLikeC","monthly_avg_HeatIndexC","monthly_avg_cloudcover","monthly_avg_humidity"]]

In [223]:
df_merged

,date,ishol/week,group,name,quantity,unit_cogs,monthly_Avgtemp,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity
0,2018-01-01,9,GENERAL_ITEMS,BELLA HERBS 12 Z WERBENA,1,2.39,-0.42,-4.84,1,2,82.81
1,2018-01-01,9,GENERAL_ITEMS,BELLA PODPASKI BLUE MAX,2,2.85,-0.42,-4.84,1,2,82.81
2,2018-01-01,9,GENERAL_ITEMS,BELLA PODPASKI NORMAL 20 B/SKRZYD,2,1.76,-0.42,-4.84,1,2,82.81
3,2018-01-01,9,GENERAL_ITEMS,BELLA PODPASKI NORMAL MAXI 10,4,2.14,-0.42,-4.84,1,2,82.81
4,2018-01-01,9,GENERAL_ITEMS,BELLA PODPASKI NOVA MAXI 10,1,2.66,-0.42,-4.84,1,2,82.81
...,...,...,...,...,...,...,...,...,...,...,...
23175,2018-01-12,12,ALCOHOL,WINO TOTINO CHERRY VERMOUTH 1L,1,9.8,0.37,-3.61,1,3,88.58
23176,2018-01-12,12,ALCOHOL,WINO WALDWEIN JEZYNA 0_75 L SLODKIE,2,7.6,0.37,-3.61,1,3,88.58
23177,2018-01-12,12,ALCOHOL,WINO WALDWEIN MALINA 0_75 L SLODKIE,1,7.6,0.37,-3.61,1,3,88.58
23178,2018-01-12,12,ALCOHOL,WODKA DRINK SOBIESKI 025ML CRANBERRY4.4%,1,2.89,0.37,-3.61,1,3,88.58
23179,2018-01-12,12,ALCOHOL,WODKA DRINK SOBIESKI KAMIKAZE.250 ML,2,2.89,0.37,-3.61,1,3,88.58

In [224]:
df_merged.shape

(23180, 11)