In [21]:
import pandas as pd
import numpy as np

In [22]:
df_master=pd.read_csv("final2.csv")

In [23]:
df_master.head()

,date,isholnum,sku,group,name,quantity,unit_cogs,sunrise,sunset,HeatIndexC,cloudcover,humidity,tempC,Avgtemp,Unnamed: 14
0,2018-01-01,1,3646,ART._HYGIENIC,BELLA HERBS 12 Z WERBENA,1,2.39,08:52:00,16:31:00,6,79,89,8,5.5,NaN
1,2018-01-01,1,17048,ART._HYGIENIC,BELLA PODPASKI BLUE MAX,2,2.85,08:52:00,16:31:00,6,79,89,8,5.5,NaN
2,2018-01-01,1,41,ART._HYGIENIC,BELLA PODPASKI NORMAL 20 B/SKRZYD,2,1.76,08:52:00,16:31:00,6,79,89,8,5.5,NaN
3,2018-01-01,1,55,ART._HYGIENIC,BELLA PODPASKI NORMAL MAXI 10,4,2.14,08:52:00,16:31:00,6,79,89,8,5.5,NaN
4,2018-01-01,1,54,ART._HYGIENIC,BELLA PODPASKI NOVA MAXI 10,1,2.66,08:52:00,16:31:00,6,79,89,8,5.5,NaN

In [24]:
df=df_master.copy()

df

In [25]:
df["group"].unique()

array(['ART._HYGIENIC', 'ARTICLE_OF_HOUSEHOLD', 'BEER', 'BREAD',
       'CANNED_PATE', 'CHEMISTRY', 'CHEWING_GUM_LOLIPOPS', 'CHIPS_FLAKES',
       'CIGARETTES', 'COFFEE TEA', 'COOKIES_BULK', 'DAIRY_CHESSE',
       'DISHES_FOR_CHILDREN', 'DRINK_JUICE', 'EGGS', 'FISH', 'GENERAL',
       'GENERAL_FOOD', 'GROATS_RICE_PASTA', 'ICE_CREAMS_FROZEN',
       'KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH', 'LUNCH DINING DISHES',
       'MEAT', 'MILK', 'OCCASIONAL', 'OILS', 'PACKAGES', "PET'S FOOD",
       'PHONES_ADJUSTMENTS', 'SOCKS_THIGHTS', 'SPICES', 'SWEETS',
       'TABLETS', 'VEGETABLES', 'VODKA_ALCOHOL', 'WINE_ALCOHOL 18%'],
      dtype=object)

In [26]:
df["group"].value_counts()

SWEETS                                       2298
DAIRY_CHESSE                                 2297
CHEMISTRY                                    2152
DRINK_JUICE                                  2044
GENERAL_FOOD                                 1956
ICE_CREAMS_FROZEN                            1334
VEGETABLES                                    940
GENERAL                                       905
BEER                                          900
KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
CIGARETTES                                    850
SPICES                                        775
GROATS_RICE_PASTA                             635
VODKA_ALCOHOL                                 627
CHIPS_FLAKES                                  509
COFFEE TEA                                    482
BREAD                                         461
MEAT                                          427
FISH                                          373
CANNED_PATE                                   361
CHEWING_GUM_LOLIPOPS                          332
WINE_ALCOHOL 18%                              280
TABLETS                                       265
COOKIES_BULK                                  214
OCCASIONAL                                    204
OILS                                          170
SOCKS_THIGHTS                                 165
ART._HYGIENIC                                 101
PET'S FOOD                                     69
DISHES_FOR_CHILDREN                            37
LUNCH DINING DISHES                            36
PHONES_ADJUSTMENTS                             35
ARTICLE_OF_HOUSEHOLD                           24
EGGS                                           24
PACKAGES                                       20
MILK                                            1
Name: group, dtype: int64

In [27]:
len(df["group"].value_counts())

36

In [28]:
group_counts=[df["group"].value_counts()]

In [29]:
group_counts

[SWEETS                                       2298
 DAIRY_CHESSE                                 2297
 CHEMISTRY                                    2152
 DRINK_JUICE                                  2044
 GENERAL_FOOD                                 1956
 ICE_CREAMS_FROZEN                            1334
 VEGETABLES                                    940
 GENERAL                                       905
 BEER                                          900
 KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
 CIGARETTES                                    850
 SPICES                                        775
 GROATS_RICE_PASTA                             635
 VODKA_ALCOHOL                                 627
 CHIPS_FLAKES                                  509
 COFFEE TEA                                    482
 BREAD                                         461
 MEAT                                          427
 FISH                                          373
 CANNED_PATE                                   361
 CHEWING_GUM_LOLIPOPS                          332
 WINE_ALCOHOL 18%                              280
 TABLETS                                       265
 COOKIES_BULK                                  214
 OCCASIONAL                                    204
 OILS                                          170
 SOCKS_THIGHTS                                 165
 ART._HYGIENIC                                 101
 PET'S FOOD                                     69
 DISHES_FOR_CHILDREN                            37
 LUNCH DINING DISHES                            36
 PHONES_ADJUSTMENTS                             35
 ARTICLE_OF_HOUSEHOLD                           24
 EGGS                                           24
 PACKAGES                                       20
 MILK                                            1
 Name: group, dtype: int64]

In [30]:
def drop_lessgroups(groups):
    for group in groups:
        if group < 200:
            print(group)

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
df.replace(['WINE_ALCOHOL 18%', 'BEER','VODKA','VODKA_ALCOHOL'], ['ALCOHOL','ALCOHOL','ALCOHOL','ALCOHOL'], inplace=True)

In [34]:
len(df["group"].value_counts())

34

In [35]:
df["group"].value_counts()

SWEETS                                       2298
DAIRY_CHESSE                                 2297
CHEMISTRY                                    2152
DRINK_JUICE                                  2044
GENERAL_FOOD                                 1956
ALCOHOL                                      1807
ICE_CREAMS_FROZEN                            1334
VEGETABLES                                    940
GENERAL                                       905
KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
CIGARETTES                                    850
SPICES                                        775
GROATS_RICE_PASTA                             635
CHIPS_FLAKES                                  509
COFFEE TEA                                    482
BREAD                                         461
MEAT                                          427
FISH                                          373
CANNED_PATE                                   361
CHEWING_GUM_LOLIPOPS                          332
TABLETS                                       265
COOKIES_BULK                                  214
OCCASIONAL                                    204
OILS                                          170
SOCKS_THIGHTS                                 165
ART._HYGIENIC                                 101
PET'S FOOD                                     69
DISHES_FOR_CHILDREN                            37
LUNCH DINING DISHES                            36
PHONES_ADJUSTMENTS                             35
ARTICLE_OF_HOUSEHOLD                           24
EGGS                                           24
PACKAGES                                       20
MILK                                            1
Name: group, dtype: int64

In [36]:
df.replace(['MEAT', 'FISH','CANNED_PATE','EGGS'], ['POULTRY','POULTRY','POULTRY','POULTRY'], inplace=True)

In [38]:
len(df["group"].value_counts())

31

In [39]:
(df["group"].value_counts())

SWEETS                                       2298
DAIRY_CHESSE                                 2297
CHEMISTRY                                    2152
DRINK_JUICE                                  2044
GENERAL_FOOD                                 1956
ALCOHOL                                      1807
ICE_CREAMS_FROZEN                            1334
POULTRY                                      1185
VEGETABLES                                    940
GENERAL                                       905
KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH     877
CIGARETTES                                    850
SPICES                                        775
GROATS_RICE_PASTA                             635
CHIPS_FLAKES                                  509
COFFEE TEA                                    482
BREAD                                         461
CHEWING_GUM_LOLIPOPS                          332
TABLETS                                       265
COOKIES_BULK                                  214
OCCASIONAL                                    204
OILS                                          170
SOCKS_THIGHTS                                 165
ART._HYGIENIC                                 101
PET'S FOOD                                     69
DISHES_FOR_CHILDREN                            37
LUNCH DINING DISHES                            36
PHONES_ADJUSTMENTS                             35
ARTICLE_OF_HOUSEHOLD                           24
PACKAGES                                       20
MILK                                            1
Name: group, dtype: int64

In [53]:
def merge(data):
    for group in data["group"]:
        if group.value_counts() < 200:
            df.replace(group, ['GENERAL'], inplace=True)

In [54]:
merge(df)

AttributeError: 'str' object has no attribute 'value_counts'