<a href="https://colab.research.google.com/github/Soumi7/PG-StockManagement/blob/master/soumiproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
ls sample_data

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [0]:
df_master = pd.read_csv('https://raw.githubusercontent.com/Soumi7/PG-StockManagement/master/SELL_1.csv?token=AMHKCT2PXP24IRGRK4GGFRK6XO7FI',
                        delimiter=';',
                        decimal=',',
                        encoding='latin-1')

In [6]:
df_master.head()

         Date  PKod        Pgroup  ... pmarzajedn  pkwmarza pudzmarza
0  01.01.2018  5307     CHEMISTRY  ...       0.80      0.80      0.01
1  01.01.2018  5986     CHEMISTRY  ...       2.48      2.48      0.03
2  01.01.2018   399  DAIRY_CHESSE  ...       1.12      4.48      0.05
3  01.01.2018  2246  DAIRY_CHESSE  ...       1.12      4.48      0.05
4  01.01.2018  2247  DAIRY_CHESSE  ...       0.17      0.68      0.01

[5 rows x 16 columns]

In [7]:
df_master["Pgroup"].isnull().sum()

0

In [8]:
df_master.isnull().sum()

Date          0
PKod          0
Pgroup        0
Pname         0
Pquantity     0
pce_zn        0
pwa_zn        0
pce_sn        0
pwa_sn        0
pce_sb        0
pwa_sb        0
pudzsb        0
pmarza        0
pmarzajedn    0
pkwmarza      0
pudzmarza     0
dtype: int64

In [9]:
df_master.tail()

             Date   PKod        Pgroup  ... pmarzajedn  pkwmarza pudzmarza
23175  01.12.2018   6590       GENERAL  ...       1.20      7.20      0.04
23176  01.12.2018  19580  GENERAL_FOOD  ...       1.68      3.36      0.02
23177  01.12.2018  10274        SWEETS  ...       0.79      1.58      0.01
23178  01.12.2018   1775       GENERAL  ...       0.17      0.34      0.00
23179  01.12.2018  16876  GENERAL_FOOD  ...       0.65      0.65      0.00

[5 rows x 16 columns]

In [10]:
df_master.describe(include=['O'])

              Date  Pgroup          Pname pce_zn
count        23180   23180          23180  23180
unique          12      36           5134   1536
top     01.08.2018  SWEETS  SUROWKA KUBEK   0,99
freq          2144    2298             33    261

In [0]:
df=df_master

In [12]:
df.head()

         Date  PKod        Pgroup  ... pmarzajedn  pkwmarza pudzmarza
0  01.01.2018  5307     CHEMISTRY  ...       0.80      0.80      0.01
1  01.01.2018  5986     CHEMISTRY  ...       2.48      2.48      0.03
2  01.01.2018   399  DAIRY_CHESSE  ...       1.12      4.48      0.05
3  01.01.2018  2246  DAIRY_CHESSE  ...       1.12      4.48      0.05
4  01.01.2018  2247  DAIRY_CHESSE  ...       0.17      0.68      0.01

[5 rows x 16 columns]

In [0]:
df=df.rename(columns=   {'Date': 'date',
        'PKod': 'sku',
        'Pgroup': 'group',
        'Pname': 'name',
        'Pquantity': 'quantity',
        'pce_zn': 'unit_cogs',
        'pwa_zn': 'agg_cogs',  # aggregate cogs for this sku
        'pce_sn': 'unit_revenue',
        'pwn_sn': 'agg_rev',  # aggregate revenue for this sku
        'pmarza': 'gross_margin',
        'pmarzajedn': 'unit_contribution',
        'pkwmarza': 'agg_dollar_contribution',
        'pudzmarza': 'share_of_margin'
    })

In [14]:
df.head()

         date   sku  ... agg_dollar_contribution share_of_margin
0  01.01.2018  5307  ...                    0.80            0.01
1  01.01.2018  5986  ...                    2.48            0.03
2  01.01.2018   399  ...                    4.48            0.05
3  01.01.2018  2246  ...                    4.48            0.05
4  01.01.2018  2247  ...                    0.68            0.01

[5 rows x 16 columns]

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
pip install wwo-hist

Requirement already satisfied: wwo-hist in /usr/local/lib/python3.6/dist-packages (0.0.4)

In [17]:
import requests
from wwo_hist import retrieve_hist_data
frequency = 24
start_date = '1-JAN-2018'
end_date = '12-JAN-2018'
api_key = '12b2c18a34194a8ca93113127200405'
location_list = ['Mlawa']
hist_weather_data = retrieve_hist_data(api_key,
                                location_list,
                                start_date,
                                end_date,
                                frequency,
                                location_label = False,
                                export_csv = True,
                                store_df = True)

Retrieving weather data for Mlawa


Currently retrieving data for Mlawa: from 2018-01-01 to 2018-01-12
Time elapsed (hh:mm:ss.ms) 0:00:00.932022


export Mlawa completed!

In [0]:
weather_df= pd.read_csv("Mlawa.csv")

In [19]:
weather_df

     date_time  maxtempC  mintempC  ...  visibility  winddirDegree  windspeedKmph
0   2018-01-01         8         3  ...          10            224             19
1   2018-01-02         3         1  ...          10            188             11
2   2018-01-03         3         0  ...           6            199             19
3   2018-01-04         6         3  ...          10            216             23
4   2018-01-05         7         3  ...          10            217             24
5   2018-01-06         6         2  ...          10            245             13
6   2018-01-07         3        -2  ...           9             88             12
7   2018-01-08         0        -3  ...          10            244              6
8   2018-01-09         1        -3  ...          10            124             15
9   2018-01-10         2        -1  ...          10            112             20
10  2018-01-11         0        -2  ...          10             93             17
11  2018-01-12        -2        -4  ...          10             85             16

[12 rows x 25 columns]

In [20]:
type(weather_df)

pandas.core.frame.DataFrame

In [0]:
weatherdf_copy=weather_df

In [22]:
weatherdf_copy

     date_time  maxtempC  mintempC  ...  visibility  winddirDegree  windspeedKmph
0   2018-01-01         8         3  ...          10            224             19
1   2018-01-02         3         1  ...          10            188             11
2   2018-01-03         3         0  ...           6            199             19
3   2018-01-04         6         3  ...          10            216             23
4   2018-01-05         7         3  ...          10            217             24
5   2018-01-06         6         2  ...          10            245             13
6   2018-01-07         3        -2  ...           9             88             12
7   2018-01-08         0        -3  ...          10            244              6
8   2018-01-09         1        -3  ...          10            124             15
9   2018-01-10         2        -1  ...          10            112             20
10  2018-01-11         0        -2  ...          10             93             17
11  2018-01-12        -2        -4  ...          10             85             16

[12 rows x 25 columns]

In [0]:
weatherdf_copy=weatherdf_copy.drop(columns=["precipMM","visibility"],axis=1)

In [24]:
weatherdf_copy

     date_time  maxtempC  mintempC  ...  tempC  winddirDegree  windspeedKmph
0   2018-01-01         8         3  ...      8            224             19
1   2018-01-02         3         1  ...      3            188             11
2   2018-01-03         3         0  ...      3            199             19
3   2018-01-04         6         3  ...      6            216             23
4   2018-01-05         7         3  ...      7            217             24
5   2018-01-06         6         2  ...      6            245             13
6   2018-01-07         3        -2  ...      3             88             12
7   2018-01-08         0        -3  ...      0            244              6
8   2018-01-09         1        -3  ...      1            124             15
9   2018-01-10         2        -1  ...      2            112             20
10  2018-01-11         0        -2  ...      0             93             17
11  2018-01-12        -2        -4  ...     -2             85             16

[12 rows x 23 columns]

In [0]:
def avgtemp(max,min):
  return (max+min)/2

weatherdf_copy["Avgtemp"] =avgtemp(weatherdf_copy['maxtempC'],weatherdf_copy['mintempC'])

In [0]:
weatherdf_copy= weatherdf_copy.drop(columns=["maxtempC","mintempC"],axis=1)

In [27]:
weatherdf_copy.head()

    date_time  totalSnow_cm  sunHour  ...  winddirDegree  windspeedKmph  Avgtemp
0  2018-01-01           0.0      2.9  ...            224             19      5.5
1  2018-01-02           0.0      6.8  ...            188             11      2.0
2  2018-01-03           0.1      4.9  ...            199             19      1.5
3  2018-01-04           0.0      2.9  ...            216             23      4.5
4  2018-01-05           0.0      2.9  ...            217             24      5.0

[5 rows x 22 columns]

In [28]:
weatherdf_copy["date_time"]=pd.to_datetime(weatherdf_copy["date_time"])
weatherdf_copy=weatherdf_copy.rename(columns={'date_time':'date'})
weatherdf_copy

         date  totalSnow_cm  sunHour  ...  winddirDegree  windspeedKmph  Avgtemp
0  2018-01-01           0.0      2.9  ...            224             19      5.5
1  2018-01-02           0.0      6.8  ...            188             11      2.0
2  2018-01-03           0.1      4.9  ...            199             19      1.5
3  2018-01-04           0.0      2.9  ...            216             23      4.5
4  2018-01-05           0.0      2.9  ...            217             24      5.0
5  2018-01-06           0.0      3.0  ...            245             13      4.0
6  2018-01-07           0.0      7.9  ...             88             12      0.5
7  2018-01-08           0.0      7.9  ...            244              6     -1.5
8  2018-01-09           0.0      7.9  ...            124             15     -1.0
9  2018-01-10           0.0      7.9  ...            112             20      0.5
10 2018-01-11           0.0      6.8  ...             93             17     -1.0
11 2018-01-12           0.0      8.0  ...             85             16     -3.0

[12 rows x 22 columns]

In [29]:
df["date"]=pd.to_datetime(df["date"])
df.tail()

            date    sku  ... agg_dollar_contribution share_of_margin
23175 2018-01-12   6590  ...                    7.20            0.04
23176 2018-01-12  19580  ...                    3.36            0.02
23177 2018-01-12  10274  ...                    1.58            0.01
23178 2018-01-12   1775  ...                    0.34            0.00
23179 2018-01-12  16876  ...                    0.65            0.00

[5 rows x 16 columns]

In [0]:
df_merge=pd.merge(df,weatherdf_copy,on='date',how='left')

In [31]:
df_merge.head()

        date   sku         group  ... winddirDegree  windspeedKmph Avgtemp
0 2018-01-01  5307     CHEMISTRY  ...           224             19     5.5
1 2018-01-01  5986     CHEMISTRY  ...           224             19     5.5
2 2018-01-01   399  DAIRY_CHESSE  ...           224             19     5.5
3 2018-01-01  2246  DAIRY_CHESSE  ...           224             19     5.5
4 2018-01-01  2247  DAIRY_CHESSE  ...           224             19     5.5

[5 rows x 37 columns]

In [32]:
# df_merge=df_merge.drop(columns=["pwa_sn","pce_sb","pwa_sb","pudzsb","unit_contribution", "agg_dollar_contribution" 	,"share_of_margin"],axis=1)
df_merge.tail()

            date    sku         group  ... winddirDegree  windspeedKmph Avgtemp
23175 2018-01-12   6590       GENERAL  ...            85             16    -3.0
23176 2018-01-12  19580  GENERAL_FOOD  ...            85             16    -3.0
23177 2018-01-12  10274        SWEETS  ...            85             16    -3.0
23178 2018-01-12   1775       GENERAL  ...            85             16    -3.0
23179 2018-01-12  16876  GENERAL_FOOD  ...            85             16    -3.0

[5 rows x 37 columns]

In [33]:
df_merge.shape

(23180, 37)

In [0]:
df_merge.to_csv("final.csv")

In [35]:
sns.barplot(y=df_merge['quantity'],x=df_merge['unit_cogs']).set_title("DV1")

KeyboardInterrupt: ignored

In [0]:
sns.barplot(y=df_merge['quantity'],x=df_merge['name']).set_title("DV1")

In [0]:
sns.barplot(y=df_merge['quantity'],x=df_merge['date']).set_title("DV1")

In [36]:
df_merge
# type(df_merge["date"])

            date    sku         group  ... winddirDegree  windspeedKmph Avgtemp
0     2018-01-01   5307     CHEMISTRY  ...           224             19     5.5
1     2018-01-01   5986     CHEMISTRY  ...           224             19     5.5
2     2018-01-01    399  DAIRY_CHESSE  ...           224             19     5.5
3     2018-01-01   2246  DAIRY_CHESSE  ...           224             19     5.5
4     2018-01-01   2247  DAIRY_CHESSE  ...           224             19     5.5
...          ...    ...           ...  ...           ...            ...     ...
23175 2018-01-12   6590       GENERAL  ...            85             16    -3.0
23176 2018-01-12  19580  GENERAL_FOOD  ...            85             16    -3.0
23177 2018-01-12  10274        SWEETS  ...            85             16    -3.0
23178 2018-01-12   1775       GENERAL  ...            85             16    -3.0
23179 2018-01-12  16876  GENERAL_FOOD  ...            85             16    -3.0

[23180 rows x 37 columns]

In [37]:
hol = pd.read_csv('https://raw.githubusercontent.com/Soumi7/PG-StockManagement/master/holidays.csv?token=AMHKCTYQQN3G72SX4DPF6226XPAUK')
# hol
# type(hol["date"])

def encoding(data):
    holi_num=[]
    for holi in data["isholiday"]:
        if holi =="yes":
            holi_num.append(1)
            # print('y')
        else:
            holi_num.append(0)
            # print('no')
    return holi_num       

hol["isholnum"]=encoding(hol)        
hol=hol.drop("isholiday",axis=1)



(hol)

          date  isholnum
0   2018-01-01         1
1   2018-01-02         0
2   2018-01-03         0
3   2018-01-04         0
4   2018-01-05         0
5   2018-01-06         1
6   2018-01-07         1
7   2018-01-08         0
8   2018-01-09         0
9   2018-01-10         0
10  2018-01-11         0
11  2018-01-12         0

In [38]:
weatherdf_copy

         date  totalSnow_cm  sunHour  ...  winddirDegree  windspeedKmph  Avgtemp
0  2018-01-01           0.0      2.9  ...            224             19      5.5
1  2018-01-02           0.0      6.8  ...            188             11      2.0
2  2018-01-03           0.1      4.9  ...            199             19      1.5
3  2018-01-04           0.0      2.9  ...            216             23      4.5
4  2018-01-05           0.0      2.9  ...            217             24      5.0
5  2018-01-06           0.0      3.0  ...            245             13      4.0
6  2018-01-07           0.0      7.9  ...             88             12      0.5
7  2018-01-08           0.0      7.9  ...            244              6     -1.5
8  2018-01-09           0.0      7.9  ...            124             15     -1.0
9  2018-01-10           0.0      7.9  ...            112             20      0.5
10 2018-01-11           0.0      6.8  ...             93             17     -1.0
11 2018-01-12           0.0      8.0  ...             85             16     -3.0

[12 rows x 22 columns]

In [0]:
def hol_col(data):
    holi_num=[]
    for date in data["date"]:
        if date == "2018-01-01" 	or  "2018-01-06" 	or "2018-01-07":
            holi_num.append(1)
            # print('y')
        else:
            holi_num.append(0)
            # print('no')
    return holi_num       

weatherdf_copy["ishol"]=hol_col(weatherdf_copy)

In [41]:
weatherdf_copy

         date  totalSnow_cm  sunHour  ...  windspeedKmph  Avgtemp  ishol
0  2018-01-01           0.0      2.9  ...             19      5.5      1
1  2018-01-02           0.0      6.8  ...             11      2.0      1
2  2018-01-03           0.1      4.9  ...             19      1.5      1
3  2018-01-04           0.0      2.9  ...             23      4.5      1
4  2018-01-05           0.0      2.9  ...             24      5.0      1
5  2018-01-06           0.0      3.0  ...             13      4.0      1
6  2018-01-07           0.0      7.9  ...             12      0.5      1
7  2018-01-08           0.0      7.9  ...              6     -1.5      1
8  2018-01-09           0.0      7.9  ...             15     -1.0      1
9  2018-01-10           0.0      7.9  ...             20      0.5      1
10 2018-01-11           0.0      6.8  ...             17     -1.0      1
11 2018-01-12           0.0      8.0  ...             16     -3.0      1

[12 rows x 23 columns]

In [49]:
for date in weatherdf_copy["date"]:
    pd.to_datetime(date)
    print(date)

2018-01-01 00:00:00
2018-01-02 00:00:00
2018-01-03 00:00:00
2018-01-04 00:00:00
2018-01-05 00:00:00
2018-01-06 00:00:00
2018-01-07 00:00:00
2018-01-08 00:00:00
2018-01-09 00:00:00
2018-01-10 00:00:00
2018-01-11 00:00:00
2018-01-12 00:00:00

In [54]:
for date in hol["date"]:
    pd.to_datetime(date)
    
    print(date)

2018-01-01 00:00:00
2018-01-02 00:00:00
2018-01-03 00:00:00
2018-01-04 00:00:00
2018-01-05 00:00:00
2018-01-06 00:00:00
2018-01-07 00:00:00
2018-01-08 00:00:00
2018-01-09 00:00:00
2018-01-10 00:00:00
2018-01-11 00:00:00
2018-01-12 00:00:00

In [0]:
df_merge2=pd.merge(hol,df_merge,on="date",how='left')

In [57]:
df_merge2

            date  isholnum    sku  ... winddirDegree windspeedKmph  Avgtemp
0     2018-01-01         1   5307  ...           224            19      5.5
1     2018-01-01         1   5986  ...           224            19      5.5
2     2018-01-01         1    399  ...           224            19      5.5
3     2018-01-01         1   2246  ...           224            19      5.5
4     2018-01-01         1   2247  ...           224            19      5.5
...          ...       ...    ...  ...           ...           ...      ...
23175 2018-01-12         0   6590  ...            85            16     -3.0
23176 2018-01-12         0  19580  ...            85            16     -3.0
23177 2018-01-12         0  10274  ...            85            16     -3.0
23178 2018-01-12         0   1775  ...            85            16     -3.0
23179 2018-01-12         0  16876  ...            85            16     -3.0

[23180 rows x 38 columns]

In [58]:
df_merge2.corr()

                         isholnum       sku  ...  windspeedKmph   Avgtemp
isholnum                 1.000000 -0.001159  ...      -0.185695  0.406016
sku                     -0.001159  1.000000  ...      -0.012586 -0.018710
quantity                 0.003883 -0.035209  ...      -0.007175 -0.004754
agg_cogs                 0.003892 -0.010876  ...      -0.005157 -0.005174
unit_revenue            -0.008835  0.015419  ...       0.007852 -0.011199
pwa_sn                   0.004156 -0.017362  ...      -0.006309 -0.006823
pce_sb                  -0.009225  0.019797  ...       0.007602 -0.012134
pwa_sb                   0.004113 -0.012276  ...      -0.006247 -0.006639
pudzsb                  -0.000833 -0.012866  ...       0.005403  0.002526
gross_margin            -0.023634  0.000318  ...      -0.029971 -0.075291
unit_contribution       -0.016840  0.004430  ...      -0.004463 -0.041534
agg_dollar_contribution  0.004418 -0.046247  ...      -0.010585 -0.013526
share_of_margin          0.013335 -0.050145  ...       0.000656  0.026519
totalSnow_cm            -0.174688 -0.017822  ...       0.168316  0.011109
sunHour                 -0.313779  0.017077  ...      -0.561911 -0.914680
uvIndex                 -0.130860  0.010837  ...      -0.232097 -0.417171
uvIndex.1               -0.130860  0.010837  ...      -0.232097 -0.417171
moon_illumination        0.263703 -0.027671  ...       0.162092  0.775530
DewPointC                0.465304 -0.022918  ...       0.359774  0.919285
FeelsLikeC               0.533805 -0.015489  ...       0.170392  0.916724
HeatIndexC               0.459041 -0.019463  ...       0.457558  0.991941
WindChillC               0.533805 -0.015489  ...       0.170392  0.916724
WindGustKmph            -0.105798 -0.013630  ...       0.984587  0.576647
cloudcover               0.256512 -0.023873  ...       0.660770  0.881697
humidity                 0.377513 -0.023975  ...       0.184498  0.671473
pressure                -0.097420  0.024998  ...      -0.660824 -0.884860
tempC                    0.493961 -0.016995  ...       0.481244  0.988872
winddirDegree            0.140494 -0.011692  ...      -0.028683  0.646209
windspeedKmph           -0.185695 -0.012586  ...       1.000000  0.517036
Avgtemp                  0.406016 -0.018710  ...       0.517036  1.000000

[30 rows x 30 columns]

In [63]:
gb=df_merge2.groupby("group")
gb.first()

                                                date  ...  Avgtemp
group                                                 ...
ART._HYGIENIC                             2018-01-01  ...      5.5
ARTICLE_OF_HOUSEHOLD                      2018-01-01  ...      5.5
BEER                                      2018-01-01  ...      5.5
BREAD                                     2018-01-01  ...      5.5
CANNED_PATE                               2018-01-01  ...      5.5
CHEMISTRY                                 2018-01-01  ...      5.5
CHEWING_GUM_LOLIPOPS                      2018-01-01  ...      5.5
CHIPS_FLAKES                              2018-01-01  ...      5.5
CIGARETTES                                2018-01-01  ...      5.5
COFFEE TEA                                2018-01-01  ...      5.5
COOKIES_BULK                              2018-01-01  ...      5.5
DAIRY_CHESSE                              2018-01-01  ...      5.5
DISHES_FOR_CHILDREN                       2018-01-01  ...      5.5
DRINK_JUICE                               2018-01-01  ...      5.5
EGGS                                      2018-01-01  ...      5.5
FISH                                      2018-01-01  ...      5.5
GENERAL                                   2018-01-01  ...      5.5
GENERAL_FOOD                              2018-01-01  ...      5.5
GROATS_RICE_PASTA                         2018-01-01  ...      5.5
ICE_CREAMS_FROZEN                         2018-01-01  ...      5.5
KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH 2018-01-01  ...      5.5
LUNCH DINING DISHES                       2018-01-01  ...      5.5
MEAT                                      2018-01-01  ...      5.5
MILK                                      2018-01-02  ...      2.0
OCCASIONAL                                2018-01-01  ...      5.5
OILS                                      2018-01-01  ...      5.5
PACKAGES                                  2018-01-01  ...      5.5
PET'S FOOD                                2018-01-01  ...      5.5
PHONES_ADJUSTMENTS                        2018-01-01  ...      5.5
SOCKS_THIGHTS                             2018-01-01  ...      5.5
SPICES                                    2018-01-01  ...      5.5
SWEETS                                    2018-01-01  ...      5.5
TABLETS                                   2018-01-01  ...      5.5
VEGETABLES                                2018-01-01  ...      5.5
VODKA_ALCOHOL                             2018-01-01  ...      5.5
WINE_ALCOHOL 18%                          2018-01-01  ...      5.5

[36 rows x 37 columns]

In [64]:
gb.corr()

                                isholnum       sku  ...  windspeedKmph   Avgtemp
group                                               ...
ART._HYGIENIC    isholnum       1.000000  0.018287  ...      -0.195862  0.436662
                 sku            0.018287  1.000000  ...      -0.051568 -0.061590
                 quantity      -0.058305 -0.355237  ...      -0.045661 -0.086787
                 agg_cogs      -0.058223  0.043269  ...      -0.046023 -0.114624
                 unit_revenue   0.019890  0.556415  ...      -0.008859 -0.032108
...                                  ...       ...  ...            ...       ...
WINE_ALCOHOL 18% pressure      -0.140069 -0.039945  ...      -0.649967 -0.887711
                 tempC          0.538590  0.036985  ...       0.453072  0.988883
                 winddirDegree  0.141788  0.016996  ...      -0.021017  0.657249
                 windspeedKmph -0.170048  0.004561  ...       1.000000  0.494919
                 Avgtemp        0.449477  0.040945  ...       0.494919  1.000000

[1080 rows x 30 columns]