<a href="https://colab.research.google.com/github/Soumi7/PG-StockManagement/blob/master/WeatherAVGData_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
pip install wwo-hist

Collecting wwo-hist
  Downloading https://files.pythonhosted.org/packages/9e/4b/e4f82813f1bd33195ca5eca204c7c312850592aba45dd819de0f2250d7fd/wwo_hist-0.0.4.tar.gz
Building wheels for collected packages: wwo-hist
  Building wheel for wwo-hist (setup.py) ... done
  Created wheel for wwo-hist: filename=wwo_hist-0.0.4-cp36-none-any.whl size=4216 sha256=0c25f7edb8cce14eb5f660ff62aa662ad791842f2232a23aae7bc81913fef714
  Stored in directory: /root/.cache/pip/wheels/c5/0e/16/329d9233f3b0b7e5fe81b09c5519a193727999c6ae77577ca9
Successfully built wwo-hist
Installing collected packages: wwo-hist
Successfully installed wwo-hist-0.0.4

In [3]:
import requests
from wwo_hist import retrieve_hist_data
frequency = 24
start_date = '1-JAN-2018'
end_date = '1-DEC-2018'
api_key = '12b2c18a34194a8ca93113127200405'
location_list = ['Mlawa']
hist_weather_data = retrieve_hist_data(api_key,
                                location_list,
                                start_date,
                                end_date,
                                frequency,
                                location_label = False,
                                export_csv = True,
                                store_df = True)

Retrieving weather data for Mlawa


Currently retrieving data for Mlawa: from 2018-01-01 to 2018-01-31
Time elapsed (hh:mm:ss.ms) 0:00:01.331039
Currently retrieving data for Mlawa: from 2018-02-01 to 2018-02-28
Time elapsed (hh:mm:ss.ms) 0:00:02.410929
Currently retrieving data for Mlawa: from 2018-03-01 to 2018-03-31
Time elapsed (hh:mm:ss.ms) 0:00:03.573641
Currently retrieving data for Mlawa: from 2018-04-01 to 2018-04-30
Time elapsed (hh:mm:ss.ms) 0:00:04.800769
Currently retrieving data for Mlawa: from 2018-05-01 to 2018-05-31
Time elapsed (hh:mm:ss.ms) 0:00:05.897926
Currently retrieving data for Mlawa: from 2018-06-01 to 2018-06-30
Time elapsed (hh:mm:ss.ms) 0:00:07.140654
Currently retrieving data for Mlawa: from 2018-07-01 to 2018-07-31
Time elapsed (hh:mm:ss.ms) 0:00:08.327637
Currently retrieving data for Mlawa: from 2018-08-01 to 2018-08-31
Time elapsed (hh:mm:ss.ms) 0:00:09.432538
Currently retrieving data for Mlawa: from 2018-09-01 to 2018-09-30
Time elapsed (hh:mm:ss.ms) 0:00:10.550436
Currently retrieving data for Mlawa: from 2018-10-01 to 2018-10-31
Time elapsed (hh:mm:ss.ms) 0:00:11.653250
Currently retrieving data for Mlawa: from 2018-11-01 to 2018-11-30
Time elapsed (hh:mm:ss.ms) 0:00:12.729971
Currently retrieving data for Mlawa: from 2018-12-01 to 2018-12-01
Time elapsed (hh:mm:ss.ms) 0:00:13.120067


export Mlawa completed!

In [27]:
import pandas as pd
df=pd.read_csv("Mlawa.csv")
df.head()

    date_time  maxtempC  mintempC  ...  visibility  winddirDegree  windspeedKmph
0  2018-01-01         8         3  ...          10            224             19
1  2018-01-02         3         1  ...          10            188             11
2  2018-01-03         3         0  ...           6            199             19
3  2018-01-04         6         3  ...          10            216             23
4  2018-01-05         7         3  ...          10            217             24

[5 rows x 25 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          335 non-null    object
 1   maxtempC           335 non-null    int64
 2   mintempC           335 non-null    int64
 3   totalSnow_cm       335 non-null    float64
 4   sunHour            335 non-null    float64
 5   uvIndex            335 non-null    int64
 6   uvIndex.1          335 non-null    int64
 7   moon_illumination  335 non-null    int64
 8   moonrise           335 non-null    object
 9   moonset            335 non-null    object
 10  sunrise            335 non-null    object
 11  sunset             335 non-null    object
 12  DewPointC          335 non-null    int64
 13  FeelsLikeC         335 non-null    int64
 14  HeatIndexC         335 non-null    int64
 15  WindChillC         335 non-null    int64
 16  WindGustKmph       335 non-null    int64
 17  cloudcover         335 non-null    int64
 18  humidity           335 non-null    int64
 19  precipMM           335 non-null    float64
 20  pressure           335 non-null    int64
 21  tempC              335 non-null    int64
 22  visibility         335 non-null    int64
 23  winddirDegree      335 non-null    int64
 24  windspeedKmph      335 non-null    int64
dtypes: float64(3), int64(17), object(5)
memory usage: 65.6+ KB

In [0]:
df=df.drop(['uvIndex','uvIndex.1','moon_illumination','moonrise','moonset','sunrise','sunset','DewPointC','pressure','winddirDegree','sunHour'],axis=1)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_time      335 non-null    object
 1   maxtempC       335 non-null    int64
 2   mintempC       335 non-null    int64
 3   totalSnow_cm   335 non-null    float64
 4   FeelsLikeC     335 non-null    int64
 5   HeatIndexC     335 non-null    int64
 6   WindChillC     335 non-null    int64
 7   WindGustKmph   335 non-null    int64
 8   cloudcover     335 non-null    int64
 9   humidity       335 non-null    int64
 10  precipMM       335 non-null    float64
 11  tempC          335 non-null    int64
 12  visibility     335 non-null    int64
 13  windspeedKmph  335 non-null    int64
dtypes: float64(2), int64(11), object(1)
memory usage: 36.8+ KB

In [30]:
df.head()

    date_time  maxtempC  mintempC  ...  tempC  visibility  windspeedKmph
0  2018-01-01         8         3  ...      8          10             19
1  2018-01-02         3         1  ...      3          10             11
2  2018-01-03         3         0  ...      3           6             19
3  2018-01-04         6         3  ...      6          10             23
4  2018-01-05         7         3  ...      7          10             24

[5 rows x 14 columns]

In [0]:
def avg(l):
  return(sum(l)/len(l))

In [32]:
df['date'] = pd.to_datetime(df['date_time'],format="%Y.%m.%d")
df= df.drop(columns=["date_time"],axis=1)
df.head()

   maxtempC  mintempC  totalSnow_cm  ...  visibility  windspeedKmph       date
0         8         3           0.0  ...          10             19 2018-01-01
1         3         1           0.0  ...          10             11 2018-01-02
2         3         0           0.1  ...           6             19 2018-01-03
3         6         3           0.0  ...          10             23 2018-01-04
4         7         3           0.0  ...          10             24 2018-01-05

[5 rows x 14 columns]

In [0]:
df.set_index('date',inplace=True)

In [0]:
months=df.index.month

In [0]:
monthly_avg_maxtemp=df.groupby(months).maxtempC.mean()

In [41]:
print(monthly_avg_maxtemp)

date
1      1.290323
2     -1.535714
3      3.225806
4     17.433333
5     21.483871
6     22.233333
7     24.483871
8     24.677419
9     20.200000
10    14.451613
11     6.266667
12    -5.000000
Name: maxtempC, dtype: float64

In [43]:
monthly_avg_mintemp=df.groupby(months).mintempC.mean()
print(monthly_avg_mintemp)

date
1     -2.129032
2     -5.035714
3     -2.903226
4      6.733333
5     10.451613
6     11.900000
7     14.967742
8     15.161290
9     11.466667
10     6.967742
11     1.666667
12    -9.000000
Name: mintempC, dtype: float64

In [44]:
monthly_avg_totalSnow_cm=df.groupby(months).totalSnow_cm.mean()
print(monthly_avg_totalSnow_cm)

date
1     0.061290
2     0.035714
3     0.070968
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.010000
12    0.000000
Name: totalSnow_cm, dtype: float64

In [45]:
monthly_avg_FeelsLikeC=df.groupby(months).FeelsLikeC.mean()
print(monthly_avg_FeelsLikeC)

date
1     -4.838710
2     -7.607143
3     -4.032258
4     10.366667
5     15.419355
6     17.100000
7     19.903226
8     20.064516
9     14.733333
10     8.193548
11     0.766667
12   -12.000000
Name: FeelsLikeC, dtype: float64

In [46]:
monthly_avg_humidity=df.groupby(months).humidity.mean()
print(monthly_avg_humidity)

date
1     82.806452
2     76.035714
3     73.225806
4     72.466667
5     73.225806
6     72.300000
7     75.967742
8     69.967742
9     69.233333
10    71.645161
11    80.600000
12    51.000000
Name: humidity, dtype: float64

In [47]:
monthly_avg_precipMM=df.groupby(months).precipMM.mean()
print(monthly_avg_precipMM)

date
1     0.290323
2     0.067857
3     0.222581
4     0.506667
5     0.919355
6     0.396667
7     1.583871
8     0.941935
9     0.460000
10    0.270968
11    0.083333
12    0.000000
Name: precipMM, dtype: float64

In [48]:
monthly_avg_visibility=df.groupby(months).visibility.mean()
print(monthly_avg_visibility)

date
1      8.322581
2      9.750000
3      9.096774
4      9.700000
5      9.645161
6      9.466667
7      9.354839
8      9.806452
9      9.533333
10     9.903226
11     9.400000
12    10.000000
Name: visibility, dtype: float64

In [50]:
monthly_avg_HeatIndexC=df.groupby(months).HeatIndexC.mean()
print(monthly_avg_HeatIndexC)

date
1     -0.322581
2     -3.428571
3     -0.096774
4     11.900000
5     16.322581
6     17.866667
7     20.419355
8     20.419355
9     15.766667
10    10.064516
11     3.700000
12    -7.000000
Name: HeatIndexC, dtype: float64

In [49]:
monthly_avg_windspeedKmph=df.groupby(months).windspeedKmph.mean()
print(monthly_avg_windspeedKmph)

date
1     16.612903
2     11.642857
3     14.032258
4     15.733333
5     13.129032
6     11.900000
7     12.225806
8     10.677419
9     13.233333
10    15.290323
11    12.800000
12    14.000000
Name: windspeedKmph, dtype: float64

In [51]:
monthly_avg_WindChillC=df.groupby(months).WindChillC.mean()
print(monthly_avg_WindChillC)

date
1     -4.838710
2     -7.607143
3     -4.032258
4     10.366667
5     15.419355
6     17.100000
7     19.612903
8     19.806452
9     14.733333
10     8.193548
11     0.766667
12   -12.000000
Name: WindChillC, dtype: float64

In [52]:
monthly_avg_WindGustKmph=df.groupby(months).WindGustKmph.mean()
print(monthly_avg_WindGustKmph)

date
1     26.161290
2     17.071429
3     21.000000
4     24.200000
5     20.935484
6     18.133333
7     19.096774
8     16.806452
9     21.033333
10    24.612903
11    21.133333
12    22.000000
Name: WindGustKmph, dtype: float64

In [53]:
monthly_avg_cloudcover=df.groupby(months).cloudcover.mean()
print(monthly_avg_cloudcover)

date
1     67.161290
2     64.000000
3     61.322581
4     31.866667
5     23.354839
6     29.866667
7     33.354839
8     24.032258
9     32.600000
10    34.580645
11    40.566667
12    38.000000
Name: cloudcover, dtype: float64

In [57]:
monthly_avg_tempC=df.groupby(months).tempC.mean()
print(monthly_avg_tempC)

date
1      1.290323
2     -1.535714
3      3.225806
4     17.433333
5     21.483871
6     22.233333
7     24.483871
8     24.677419
9     20.200000
10    14.451613
11     6.266667
12    -5.000000
Name: tempC, dtype: float64

In [56]:
df.head()

            maxtempC  mintempC  totalSnow_cm  ...  tempC  visibility  windspeedKmph
date                                          ...
2018-01-01         8         3           0.0  ...      8          10             19
2018-01-02         3         1           0.0  ...      3          10             11
2018-01-03         3         0           0.1  ...      3           6             19
2018-01-04         6         3           0.0  ...      6          10             23
2018-01-05         7         3           0.0  ...      7          10             24

[5 rows x 13 columns]

In [0]:
l={'monthly_avg_maxtemp':monthly_avg_maxtemp,
   'monthly_avg_mintemp': monthly_avg_mintemp,
   'monthly_avg_totalSnow_cm':monthly_avg_totalSnow_cm,
   'monthly_avg_FeelsLikeC':monthly_avg_FeelsLikeC,
   'monthly_avg_HeatIndexC':monthly_avg_HeatIndexC,
   'monthly_avg_WindChillC':monthly_avg_WindChillC,
   'monthly_avg_WindGustKmph':monthly_avg_WindGustKmph,
   'monthly_avg_cloudcover':monthly_avg_cloudcover,
   'monthly_avg_humidity':monthly_avg_humidity,
   'monthly_avg_precipMM':monthly_avg_precipMM,
   'monthly_avg_tempC':monthly_avg_tempC,
   'monthly_avg_visibility':monthly_avg_visibility,
   'monthly_avg_windspeedKmph':monthly_avg_windspeedKmph}

In [66]:
print(len(l))

13

In [0]:
weather_data=pd.DataFrame(l)

In [69]:
weather_data

      monthly_avg_maxtemp  ...  monthly_avg_windspeedKmph
date                       ...
1                1.290323  ...                  16.612903
2               -1.535714  ...                  11.642857
3                3.225806  ...                  14.032258
4               17.433333  ...                  15.733333
5               21.483871  ...                  13.129032
6               22.233333  ...                  11.900000
7               24.483871  ...                  12.225806
8               24.677419  ...                  10.677419
9               20.200000  ...                  13.233333
10              14.451613  ...                  15.290323
11               6.266667  ...                  12.800000
12              -5.000000  ...                  14.000000

[12 rows x 13 columns]

In [0]:
weather_data.to_csv('drive/My Drive/MonthlyWeatherData.csv')